body{
	min-height: 300px;
}
.clock{
    margin: auto;
    width: 100vw;
    height:100vw;
    max-height: 600px;
    max-width: 600px;
}
.container{
	height: auto;
    position: absolute;
}

img {
    width: 100vw;
    height: 100vw;
    max-height: 600px;
    max-width: 600px;
}

.hour, .minute, .second {
    position: absolute;
    top: 0;
    left: calc(50% - 12px);
    width: 30px;
    min-height: 300px;
    transition: all 1s ease-in-out;
    text-align: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vw;
    max-height: 600px;
}

.hour{
	background-image:url(hourhand.png);
}

.minute{
	background-image:url(minhand.png);
}

.second{
	background-image:url(sechand.png);
}

h1 {
    text-align: center;
    font-family: monospace;
    color: #000000;
}
